<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="leTv">
    <!-- Start Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel"
         style="margin-top: 50px; padding-left: 2%;padding-right: 2%">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li th:each="carouselPic,iterStat:${carouselPics}" data-target="#myCarousel"
                th:data-slide-to="${iterStat.index}" th:class="(${iterStat.index}==0)?'active':''"></li>
        </ol>
        <div class="carousel-inner text-center" role="listbox">
            <div th:each="carouselPic,iterStat:${carouselPics}" th:class="(${iterStat.index}==0)?'item active':'item'">
                <a th:href="@{/play(v=${carouselPic.value})}">
                    <img th:src="${carouselPic.image}" alt="">
                </a>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End carousel -->
    <!-- Start Content -->
    <div class="main ui container" style="margin-top: 20px ; padding-top: 0">

        <div class="ui segment">
            <div class="ui left close rail" style="padding-right: 20px;width: 100%">
                <div class="ui segment">
                    <h3 style=" text-align:right">综艺</h3>
                </div>
            </div>
            <div class="ui right close rail num" style="padding-left: 20px;width: 100%" value="10">
                <div class="ui segment">
                    <h3 style=" text-align:left">刷新</h3>
                </div>
            </div>
            <!-- 综艺 -->
            <div class="ui five column grid add">
                <div class="column  videoItem" th:each="recommend, iterStat:${recommends}"
                     th:if="${iterStat.index} < 10">
                    <div class="ui segment  ">
                        <a th:href="@{/play(v=${recommend.value})}" class="videoUrl">
                            <img th:src="${recommend.image}" class="ui fluid image videoImage" alt="">
                        </a>
                        <div class="description videoTitle" th:text="${recommend.title}">
                        </div>
                    </div>
                </div>
                <div th:each="recommend, iterStat:${recommends}" th:if="${iterStat.index} >= 10" class="videoItem">
                    <div th:if="${iterStat.index} >= 10" class="hidden">
                        <p class="videoImage" th:value="${recommend.image}"></p>
                        <p class="videoTitle" th:value="${recommend.title}"></p>
                        <a class="videoUrl" th:href="@{/play(v=${recommend.value})}"></a>
                    </div>
                </div>
                <!-- END 综艺 -->
            </div>
        </div>
        <!--
                <div class="ui segment">
                    <div class="ui left close   rail" style="padding-right: 20px;width: 100%">
                        <div class="ui segment">
                            <h3 style=" text-align:right">直播</h3>
                        </div>
                    </div>
                    <div class="ui right close   rail num" style="padding-left: 20px;width: 100%" th:value="8">
                        <div class="ui segment">
                            <h3 style=" text-align:left">刷新</h3>
                        </div>
                    </div>
                    <div class="main ui container" style="margin-top: 20px ; padding-top: 0">
                        <div class="ui four column grid add">
                            <div class="column  videoItem" th:each="live, iterStat:${lives}" th:if="${iterStat.index} < 8">
                                <div class="ui segment  ">
                                    <a th:href="@{/play(v=${live.value})}" class="videoUrl">
                                        <img th:src="${live.image}" class="ui fluid image videoImage" alt="">
                                    </a>
                                    <div class="description videoTitle" th:text="${live.title}">
                                    </div>
                                </div>
                            </div>
                            <div th:each="live, iterStat:${lives}" th:if="${iterStat.index} >= 8" class="videoItem">
                                <div th:if="${iterStat.index} >= 8" class="hidden">
                                    <p class="videoImage" th:value="${live.image}"></p>
                                    <p class="videoTitle" th:value="${live.title}"></p>
                                    <a class="videoUrl" th:href="@{/play(v=${live.value})}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                -->
        <!-- END 直播 -->

        <div class="ui segment">
            <div class="ui left close   rail" style="padding-right: 20px;width: 100%">
                <div class="ui segment">
                    <h3 style=" text-align:right">电视剧</h3>
                </div>
            </div>
            <div class="ui right close   rail num" style="padding-left: 20px;width: 100%" th:value="8">
                <div class="ui segment">
                    <h3 style=" text-align:left">刷新</h3>
                </div>
            </div>
            <!-- 电视剧 -->

            <div class="main ui container" style="margin-top: 20px ; padding-top: 0">
                <div class="ui grid">
                    <div class="twelve wide column">
                        <div class="ui four column grid" add>
                            <div class="column  videoItem" th:each="tvHot, iterStat:${tvHots}"
                                 th:if="${iterStat.index} < 8">
                                <div class="ui segment  ">
                                    <a th:href="@{/play(v=${tvHot.value})}" class="videoUrl">
                                        <img th:src="${tvHot.image}" class="ui fluid image videoImage" alt="">
                                    </a>
                                    <div class="description videoTitle" th:text="${tvHot.title}">
                                    </div>
                                </div>
                            </div>
                            <div th:each="tvHot, iterStat:${tvHots}" th:if="${iterStat.index} >= 8" class="videoItem">
                                <div th:if="${iterStat.index} >= 8" class="hidden">
                                    <p class="videoImage" th:value="${tvHot.image}"></p>
                                    <p class="videoTitle" th:value="${tvHot.title}"></p>
                                    <a class="videoUrl" th:href="@{/play(v=${tvHot.value})}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="four wide column">

                        <div class="top">
                            <h3><span class="glyphicon glyphicon-play-circle"></span> 排行榜</h3>
                        </div>
                        <div class="list-group" style="padding-top: 5px;">
                            <a th:each="tvTop,iterStat:${tvTops}" th:href="@{/play(v=${tvTop.value})}"
                               th:if="${iterStat.index} < 7"
                               class="list-group-item"
                               th:text="${tvTop.title}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="ui segment">
            <div class="ui left close   rail" style="padding-right: 20px;width: 100%">
                <div class="ui segment">
                    <h3 style=" text-align:right">电影</h3>
                </div>
            </div>
            <div class="ui right close  rail num" style="padding-left: 20px;width: 100%" value="8">
                <div class="ui segment">
                    <h3 style=" text-align:left">刷新</h3>
                </div>
            </div>
            <!-- END 电视剧 -->
            <div class="main ui container" style="margin-top: 20px ; padding-top: 0">
                <!-- 电影 -->
                <div class="twelve wide column">
                    <div class="ui four column grid add">
                        <div class="column  videoItem" th:each="movie, iterStat:${movies}"
                             th:if="${iterStat.index} < 8">
                            <div class="ui segment  ">
                                <a th:href="@{/play(v=${movie.value})}" class="videoUrl">
                                    <img th:src="${movie.image}" class="ui fluid image videoImage" alt="">
                                </a>
                                <div class="description videoTitle" th:text="${movie.title}">
                                </div>
                            </div>
                        </div>
                        <div th:each="movie, iterStat:${movies}" th:if="${iterStat.index} >= 8" class="videoItem">
                            <div th:if="${iterStat.index} >= 8" class="hidden">
                                <p class="videoImage" th:value="${movie.image}"></p>
                                <p class="videoTitle" th:value="${movie.title}"></p>
                                <a class="videoUrl" th:href="@{/play(v=${movie.value})}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END 电影 -->
            </div>
        </div>

        <div class="ui segment">
            <div class="ui left close   rail  " style="padding-right: 20px;width: 100%">
                <div class="ui segment">
                    <h3 style=" text-align:right">动漫</h3>
                </div>
            </div>
            <div class="ui right close rail num" style="padding-left: 20px;width: 100%" value="10">
                <div class="ui segment">
                    <h3 style=" text-align:left">刷新</h3>
                </div>
            </div>
            <!-- 动漫 -->

            <div class="twelve wide column">
                <div class="ui five column grid   add">
                    <div class="column  videoItem" th:each="animeHot, iterStat:${animeHots}"
                         th:if="${iterStat.index} < 10">
                        <div class="ui segment  ">
                            <a th:href="@{/play(v=${animeHot.value})}" class="videoUrl">
                                <img th:src="${animeHot.image}" class="ui fluid image videoImage" alt="">
                            </a>
                            <div class="description videoTitle" th:text="${animeHot.title}">
                            </div>
                        </div>
                    </div>
                    <div th:each="animeHot, iterStat:${animeHots}" th:if="${iterStat.index} >= 10" class="videoItem">
                        <div th:if="${iterStat.index} >= 10" class="hidden">
                            <p class="videoImage" th:value="${animeHot.image}"></p>
                            <p class="videoTitle" th:value="${animeHot.title}"></p>
                            <a class="videoUrl" th:href="@{/play(v=${animeHot.value})}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END 动漫 -->
    </div>
</div>

</body>
</html>
