<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="nav">
    <!--header-->
    <div class="ui inverted menu" style="padding-left: 10%;height:50px">
        <a href="/" class="red item">首页</a>
        <a class="orange item">技术教程</a>
        <a class="olive item">舆情分析</a>
        <a class="yellow item ">搜索</a>
        <a class="green item">本站技术</a>
        <a class="teal item ">联系作者</a>
        <div class="right menu" style="padding-right:10%">
            <label id="time" class="ui item"></label>
            <label id="temperature" class="ui item"></label>
            <a href="/login" class="ui item">
                登陆
            </a>
        </div>
    </div>
</div>

</body>
</html>
