<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:include="header :: nav"></div>

<div class="ui segment">


    <div class="ui left vertical inverted labeled icon sidebar menu">
        <a class="item">
            <i class="home icon"></i>
            主页
        </a>
        <a class="item">
            <i class="block layout icon"></i>
            主题
        </a>
        <a class="item">
            <i class="smile icon"></i>
            朋友
        </a>
        <a class="item">
            <i class="calendar icon"></i>
            历史
        </a>
        <a class="item">
            <i class="mail icon"></i>
            消息
        </a>
        <a class="item">
            <i class="chat icon"></i>
            讨论
        </a>
        <a class="item">
            <i class="trophy icon"></i>
            奖励
        </a>
        <a class="item">
            <i class="shop icon"></i>
            商店
        </a>
        <a class="item">
            <i class="settings icon"></i>
            设置
        </a>
    </div>



    <div id="container" align="center">
        <div class="players" id="player1-container">
            <h3>Video Player</h3>
            <div class="media-wrapper">
                <video id="player1" width="1000" height="562" style="max-width:100%; background-color: #4d4d4d"
                       preload="none" controls playsinline
                       webkit-playsinline>
                    <source src="http://220.194.225.158/play.videocache.lecloud.com/250/34/78/letv-uts/14/ver_00_22-1109383741-avc-387336-aac-48000-1470596-82299492-b8e9f1ddf38dd786fda22ae6f976d9d3-1499631806590.mp4?crypt=15aa7f2e446&b=447&nlh=4096&nlt=60&bf=80&p2p=1&video_type=mp4&termid=2&tss=no&platid=3&splatid=304&its=0&qos=3&fcheck=0&amltag=4701&mltag=4701&proxy=3703759303,1039176405,467476961&uid=67945963&keyitem=GOw_33YJAAbXYE-cnQwpfLlv_b2zAkYctFVqe5bsXQpaGNn3T1-vhw..&ntm=1499775600&nkey=b20e3fad7f37b42326d82f8fbb402063&nkey2=fdec0c5f1f37112e4ed6f31cd9a99c59&geo=CN-16-203-2&mmsid=65726230&tm=1499757357&key=50ba1cb1a15ff6d576e3d61812e0eef7&playid=0&vtype=13&cvid=188252432897&payff=0&p1=0&p2=06&ostype=macos&hwtype=un&uuid=1891087902108532_1&vid=30335982&uidx=0&errc=0&gn=3305&ndtype=0&vrtmcd=102&buss=4701&cips=115.159.89.23"
                            type="video/mp4">
            </div>
        </div>
    </div>
</div>

<script src="../build/mediaelement-and-player.js"></script>
<script src="../build/renderers/dailymotion.js"></script>
<script src="../build/renderers/twitch.js"></script>
<script src="../build/renderers/vimeo.js"></script>
</body>
</html>